.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
    width: 100%;
    font-family: 'Lobster', cursive;
	font-size: 70px; }

	h1 { 
		font-size: 50px;
		background: -webkit-linear-gradient(rgb(253,38,31,1),  rgba(252,176,69,1));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}



	img {
		z-index: -1;
		object-fit: cover;
		width: 115%;
	}

	button {
	margin-left: 0%;
	position: relative;
	background: rgb(253,38,31);
	background: linear-gradient(90deg, rgba(253,38,31,1) 62%, rgba(252,176,69,1) 100%);
	}


	
